:root {
  --main-background-color: #e5ccb8;
  --second-background-color: #fcfbfa;
  --main-text-color: #131045;
  --details-light-color: #f0bbe3;
  --text-details-color: #a8aeb3;
  --alt-text-color: #7e6a80;
  --text-dark-color: #3b2f4a;
  --input-color: #c2a792;
  --ratings-color: #eaa451;
  --card-color: #413b88;
  --social-links-color: #658abf;

  /* --body-font: "Nunito", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 45px;
  --h2-font-size: 24px;
  --h3-font-size: 22px;
  --details-font-size: 20px;
  --btn-size: 22px;
  --social-links-size: 30px; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
