.card-results {
  background-color: var(--main-background-color);
  font-family: var(--font-family);
  color: var(--pic-color);
}

.card-author {
  font-weight: 600;
  color: var(--main-text-color);
}

.card-book {
  color: var(--pic-color);
}

.card-body-book {
  background: #f3e6dd;
}

.card-img-top {
  border-radius: 20px;
}

.card-body-book {
  border-radius: 8px;
}


.add-button {
  background-color: #c2a792;
  color: var(--second-background-color);
  font-size: var(--h3-font-size);
}

.learn-more-button {  background-color: #c2a792;
  color: var(--second-background-color);
  font-size: var(--h3-font-size);}