.card {
  background-color: var(--main-background-color);
  font-family: var(--font-family);
}

.card-title {
  color: var(--pic-color);
  font-size: 45px;
  font-weight: 500;
}

.card-button .btn {
  background-color: #c2a792;
  color: var(--second-background-color);
  font-size: var(--h3-font-size);
}

.card-text {
  color: var(--alt-text-color);
}
